<body class="d-flex min-vh-100 align-items-center justify-content-center">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
              <div class="card shadow-lg">
                  <div class="card-body p-5">
                      <h5 class="card-title text-center mb-4">Inicio de Sesión</h5>

                      <form #ngForm="ngForm" (ngSubmit)="login(ngForm)">
                          <div class="mb-4">
                              <input type="text" id="nicope" [(ngModel)]="creds.nickusuario" name="nicope" class="form-control form-control-lg" placeholder="Usuario" required>
                          </div>
                          <div class="mb-4">
                              <input type="password" id="pasope" [(ngModel)]="creds.passusuario" name="pasope" class="form-control form-control-lg" placeholder="Contraseña" required>
                          </div>

                          <div *ngIf="errorMessage" class="alert alert-danger mb-4 text-center">
                              {{ errorMessage }}
                          </div>

                          <button type="submit" class="btn btn-primary w-100 btn-lg">Ingresar</button>
                      </form>

                      <p class="mt-4 text-center text-muted">
                          Acepto los <a href="#" class="text-decoration-underline">Términos de Servicio</a> y <a href="#" class="text-decoration-underline">Políticas de Seguridad</a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  
</body>